[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
gunicorn = "*"
flask = "*"
python-dotenv = "*"
psycopg2-binary = "*"
chartjs = "*"

[dev-packages]

[requires]
python_version = "3.8"
